<div class="container">
  <div class="row">
    <div class="showcase-flex">
      <div class="showcase-content">
        <h4>HELLO!</h4>
        <h1>I'm <span>Yasheer</span></h1>
        <p>Web developer</p>
        <button routerLink="/resume"><i class="far fa-file"></i> Resume</button>
      </div>
      <img src="../../assets/Contact.png" alt="Yasheer">
    </div>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-portfolio></app-portfolio>
    <app-contact></app-contact>
    </div>
    </div>
