<div class="container">
  <div class="row">
    <div class="about-flex">
      <img src="../../assets/showcase-img.jpg" alt="Yasheer">
      <div class="about-content">
      <h1>Mohammed Yasheer</h1>
      <h4>I'm passionate <span>Web Designer</span></h4>
      <p>Am a Chennai based freelancer having passion to solve problem and  constant learning.
        Having hands on experience on all FrontEnd technologies.
        I create beautiful & functional based website for small business.
        If you want to create a porfolio website or an SPA(Single Page Application) using FrontEnd javascript framework you are at the right phase.
        Am also having experience on working with Firebase.Want to create most trending UI websites? Please see my porfolio.
        If you are a budiness seeking a web presence or an employer looking to hire, you can get in touch with me <a routerLink="/contact">here.</a>
      </p>
      <button routerLink="/portfolio">View Portfolio</button>
    </div>
   </div>
  </div>
</div>