<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="skill">
      <h1>My <span>Skills</span></h1>
      <p class="skill-content">I have a diverse set of skills ranging from design to HTML, CSS, Javascript all the way to Angular 11, Java and CSS framework like Bootstrap5 , tailewind. </p>
    </div>
      <div class="skills" >
        <li>
          <div class="tech">
          <h5>HTML</h5>
          <h5>80%</h5>
        </div>
          <span class="bar"><span class="html"></span></span>
        </li>
        <li>
          <div class="tech">
            <h5>CSS</h5>
            <h5>70%</h5>
          </div>
          <span class="bar"><span class="css"></span></span>
        </li>
        <li>
          <div class="tech">
            <h5>JavaScript</h5>
            <h5>60%</h5>
          </div>
          <span class="bar"><span class="js"></span></span>
        </li>
        <li>
          <div class="tech">
            <h5>Angular</h5>
            <h5>70%</h5>
          </div>
         <span class="bar"><span class="ng"></span></span>
        </li>
        <li>
          <div class="tech">
            <h5>Bootstrap</h5>
            <h5>80%</h5>
          </div>
         <span class="bar"><span class="bootstrap"></span></span>
        </li>
        <li>
          <div class="tech">
            <h5>Java</h5>
            <h5>50%</h5>
          </div>
         <span class="bar"><span class="java"></span></span>
        </li>
    </div>
  </div>
  </div>
</div>