span {
  color: #9381ff;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#img-card {
  height: 300px;
  width: 500px;
}

.portfolio-img a img {
  padding: 10px;
  margin: 25px;
}

@media only screen and (max-width: 800px) {
  #img-card {
    width: 347px;
  }

  .portfolio-img a img {
    padding: 10px;
    margin: 10px;
  }

  .portfolio-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  #img-card {
    width: 280px;
  }
}
