<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="portfolio">
      <h1>My <span>Portfolio</span></h1>
      <div class="portfolio-content">
        Mentioned some of my Work which are combination of both Frontend and Backend.
      </div>
    </div>
    <div class="portfolio-img">
      <a href="https://gracious-banach-8b816d.netlify.app/" target="_blank"><img id="img-card" src="../../assets/newsGrid.JPG" alt="News Grid"></a>
      <a href="https://hardcore-mirzakhani-6abf24.netlify.app/" target="_blank"><img id="img-card" src="../../assets/mealFinder.JPG" alt="Meal Finder"></a>
      <a href="https://inspiring-fermat-f8e529.netlify.app" target="_blank"><img id="img-card" src="../../assets/cafe_shop.JPG" alt="cafe shope"></a>
      <a href="https://tender-lalande-1f690d.netlify.app" target="_blank"><img id="img-card" src="../../assets/netflix.JPG" alt="netflix"></a>
    </div>
    </div>
  </div>
</div>