  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" (click) ="download()"><i class="fas fa-download"></i> Download CV</button>
          <div id="content">
            <div class="resume-header">
              <div class="address">
                <h1>Mohammed Yasheer</h1>
                <h4>328/12 Poonga Apartment</h4>
                <h4>2nd,avenue</h4>
                <h4>Anna Nagar</h4>
                <h4>Chennai – 600040.</h4>
              </div>
     <div class="contact">
       <h4>Mobile: <span>+91 7708748608</span></h4>
       <h4>Email: mohammed yasheer12@gmail.com</h4>
     </div>
    </div>
  
    <h2>CAREER OBJECTIVE</h2>
    <p>To obtain a strong position in the brand fame company. To get elevated in the field assigned by exploring my conscience for upliftment of the organization as well as exploring my best attitude and knowledge.</p>
    <h2>ACADEMIC QUALIFICATION</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Degree/ Course</th>
            <th scope="col">Institution</th>
            <th scope="col">University / Board</th>
            <th scope="col">Year of Passing</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">B.E (ECE)</th>
            <td>Aalim muhammed salegh, Chennai</td>
            <td>Anna University</td>
            <td>2019</td>
            <td>65</td>
          </tr>
          <tr>
            <th scope="row">HSC</th>
            <td>Shri Krishna Swamy Higher Secondary School</td>
            <td>State Board</td>
            <td>2015</td>
            <td>74.5</td>
          </tr>
          <tr>
            <th scope="row">SSLC</th>
            <td >Grace Matriculation  Higher Secondary School</td>
            <td>State Board</td>
            <td>2013</td>
            <td>85</td>
          </tr>
        </tbody>
      </table>
      <br>
      <h2>LANGUAGES LEARNED</h2>
      <p>Web Development	&nbsp;: &nbsp;	HTML5, CSS3, Javascript, Ajax, FetchAPI</p>
      <p>CSS Framework	&nbsp;	:&nbsp;	Bootstrap, Skeleton</p>
      <p>Frontend Framework	&nbsp;:&nbsp;	Angular</p>
      <p>Programming Language	&nbsp;:&nbsp;	Java (Basics)</p>
      <p>Version control	 &nbsp;	:&nbsp;	GIT</p>
      <h2>AREA OF INTEREST</h2>
      <ul>
        <li>Coding</li>
        <li>Product development</li>
        <li>UI/UX</li>
      </ul>
      <h2>CERTIFICATION</h2>
      <ul>
        <li>Certificate on Embedded System Objects (robotics)</li>
     </ul>
     <h2>WORK EXPERIENCE</h2>
     <h3>Phoenix Consultancy Services (June_2019 to July_2020)</h3>
     <ul>
       <li>Worked as a HR recruiter, sorting profile from jobsites like Naukri and Shine.</li>
       <li>Posting jobs in jobsites alongside doing business development.</li>
       <li>Making cold call.</li>
     </ul>
     <h3>Cognizant Technology (September_2020  to Till now)</h3>
     <ul>
       <li>Working as an analyst trainee, doing monitoring activities.</li>
       <li>Assisting users with their request and providing access accordingly.</li>
       <li>Providing Help Desk support to thousands of users worldwide, earning a solid reputation for productivity, complex problem resolution and professionalism.</li>
     </ul>
     <h2>SKILLS</h2>
     <ul>
       <li>Worked in MVC architecture.</li>
       <li>Worked on SPA application development using Angular.</li>
     </ul>
     <h2>PROJECT</h2>
     <h3>NewsGrid</h3>
     <ul>
       <li>A static Newspaper website build on my own using only HTML5 and CSS3.</li>
       <li>Used media queries to make the website responsive.</li>
       <a href="https://gracious-banach-8b816d.netlify.app" target="_blank">DEMO: https://gracious-banach-8b816d.netlify.app</a>
     </ul>
     <h3>Cafe Shope</h3>
     <ul>
       <li>A cafe shop website with working contact form used Netlify for the backend.</li>
       <a href="https://inspiring-fermat-f8e529.netlify.app" target="_blank">DEMO: https://inspiring-fermat-f8e529.netlify.app</a>
     </ul>
     <h3>Meal Finder</h3>
     <ul>
       <li>Designed dynamic and browser compatible pages using HTML5, CSS3, and Javascript.</li>
       <li>Built single page applications (SPA), responsive web design, UI using HTML5 grid layouts, CSS3 media queries.</li>
       <li>Worked on third party API.</li>
       <li>Using fetchAPI calls populated the DOM.</li>
       <li>Used only javascript for DOM manipulation.</li>
       <a href="https://hardcore-mirzakhani-6abf24.netlify.app/" target="_blank">DEMO: https://hardcore-mirzakhani-6abf24.netlify.app/</a>
     </ul>
     <h2>DECLARATION</h2>
     <p>   I hereby declare that the details which I provided trustworthy and given best of my knowledge.</p>
  </div>
</div>
</div>
</div>


